@media screen and (max-width: 575px) {

    /* Header part start */
    nav .menu-bar {
        display: block;
    }

    nav ul {
        display: none;
    }

    .nav-logo h1 {
        font-size: 1rem;
    }

    .banner {
        padding: 30px 20px;
    }

    .banner-content {
        width: 100%;
        text-align: center;
    }

    .banner-content h1 {
        font-size: 1.25rem;
        font-weight: 800;
        margin-bottom: 12px;
    }

    .banner-content p {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 24px;
    }

    .travel-info-container {
        width: 100%;
    }

    .travel-info {
        flex-direction: column;
    }

    .field,
    .btn-primary {
        width: 100%;
    }

    /* header part end */

    /* popular part start */
    .popular-tour-main-content {
        flex-direction: column;
    }

    .popular-tour-content {
        width: 100%;
    }

    .section-title {
        font-size: 20px;
    }

    .popular-tour-content p,
    .popular-tour-content ul li {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;
    }

    /* popular part End */

    /* Choose destination part start */
    .choose-destination .destination-desc {
        width: 100%;
    }

    .row {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .america,
    .kashmir,
    .bangladesh,
    .bandarban {
        grid-column: 1 / 13;
    }

    /* Choose destination part End */

    /* Room section start */
    .hotel-room-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Room section End */


    /* Choose us section Start */

    .why-choose-us .choose-us-desc {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .choose-us-content {
        padding: 10px;
        text-align: center;
    }

    .left-content,
    .right-content,
    .mid-content {
        grid-column: 1 / 13;
    }

    /* Choose us section End */

    /* video section start */
    .main-container{
        text-align: center;
    }

    .video-main-content {
        grid-column: 1 / 13;
    }
    .video-main-content h2{
        font-size: 1rem;
        text-align: center;
    }

    .video-beauty {
        grid-column: 1 / 13;
        /* width: 100%; */
    }
    .video-beauty iframe{
        width: 100%;
    }


    /* video section End */

    /* newsletter section start */

    .news-letter-main-content {
        flex-direction: column;
    }

    .news-letter-form {
        width: 100%;
        padding: 10px 25px;
    }

    .news-letter-form h3 {
        padding-top: 20px;
    }

    .news-letter-form p {
        margin-bottom: 20px;
    }

    .form input {
        width: 100%;
    }

    .news-letter-image {
        width: 100%;
    }

    .label {
        width: 60%;
        padding: 10px;
        bottom: 23px;
        right: 1px;
    }

    .label h6,
    .label span {
        font-size: 1rem;
    }

    /* newsletter section End */


    /* footer part start */

    .footer {
        padding: 60px 0;
    }

    .footer-logo h1 {
        font-size: 1rem;
    }

    .footer p {
        color: #5A5A5D;
        font-size: 14px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding: 0px 10px;
    }

    /* footer part End */




}

@media screen and (min-width: 575px) and (max-width: 767px) {

    /* Header start */
    nav .menu-bar {
        display: block;
    }

    nav ul {
        display: none;
    }

    .nav-logo h1 {
        font-size: 1.5rem;
    }

    .banner {
        padding: 30px 20px;
    }

    .banner-content {
        width: 100%;
        text-align: center;
    }

    .banner-content h1 {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 12px;
    }

    .banner-content p {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 24px;
    }

    .travel-info-container {
        width: 100%;
    }

    .travel-info {
        flex-direction: column;
    }

    .field,
    .btn-primary {
        width: 100%;
    }

    /* Header End */

    /* popular part start */
    .popular-tour-main-content {
        flex-direction: column;
    }

    .popular-tour-content {
        width: 100%;
    }

    .section-title {
        font-size: 24px;
    }

    .popular-tour-content p,
    .popular-tour-content ul li {
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;
    }

    /* popular part End */

    /* Choose destination part start */
    .choose-destination .destination-desc {
        width: 100%;
    }

    .row {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .america,
    .kashmir,
    .bangladesh,
    .bandarban {
        grid-column: 1 / 13;
    }

    /* Choose destination part End */

    /* Room section start */
    .hotel-room-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Room section End */


    /* Choose us section Start */

    .why-choose-us .choose-us-desc {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .choose-us-content {
        padding: 10px;
        text-align: center;
    }

    .left-content,
    .right-content,
    .mid-content {
        grid-column: 1 / 13;
    }

    /* Choose us section End */

    /* video section start */
    .main-container{
        text-align: center;
    }

    .video-main-content {
        grid-column: 1 / 13;
    }
    .video-main-content h2{
        font-size: 1rem;
        text-align: center;
    }

    .video-beauty {
        grid-column: 1 / 13;
        /* width: 100%; */
    }
    .video-beauty iframe{
        width: 100%;
    }


    /* video section End */


    /* newsletter section start */

    .news-letter-main-content {
        flex-direction: column;
    }

    .news-letter-form {
        width: 100%;
        padding: 20px 30px;
    }

    .news-letter-form p {
        margin-bottom: 20px;
    }

    .form input {
        width: 100%;
    }

    .news-letter-image {
        width: 100%;
    }

    .label {
        width: 60%;
        padding: 10px;
        bottom: 43px;
        right: -2px;
    }

    .label h6,
    .label span {
        font-size: 1rem;
    }

    /* newsletter section End */

    /* footer part start */

    .footer {
        padding: 60px 0;
    }

    .footer-logo h1 {
        font-size: 1rem;
    }

    .footer p {
        color: #5A5A5D;
        font-size: 1rem;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding: 0px 20px;
    }

    /* footer part End */

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .banner {
        padding: 60px;
    }

    .banner-content,
    .travel-info-container {
        width: 100%;
    }

    /* popular part start */
    .popular-tour-main-content {
        align-items: center;
        gap: 30px;
    }

    .popular-tour-content {
        width: 80%;
    }

    .section-title {
        font-size: 24px;
    }

    .popular-tour-content p,
    .popular-tour-content ul li {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;
    }

    /* popular part End */

    /* Choose destination part Start */
    .choose-destination .destination-desc {
        width: 70%;
    }

    /* Choose destination part End */

    /* Room section start */
    .hotel-room-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Room section End */

    /* Video section Start */

    .video-main-content {
        grid-column: 1 / 7;
    }
    
    .video-beauty {
        grid-column: 7 / 13;
    }
    .video-main-content p,
    .video-main-content ul
    {
        padding: 10px 0;
    }


    /* video section End */

    /* newsletter section start */
    .news-letter-form {
        width: 45%;
        padding: 20px;
    }

    .news-letter-image {
        width: 55%;
    }

    .news-letter-form h3 {
        padding-top: 10px;
    }

    .news-letter-form p {
        margin-bottom: 30px;
    }

    .label {
        width: 60%;
        padding: 10px;
        bottom: 43px;
        right: -2px;
    }

    .label h6,
    .label span {
        font-size: 1rem;
    }

    /* newsletter section End */
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .banner {
        padding: 60px;
    }

    .banner-content,
    .travel-info-container {
        width: 100%;
    }


    /* popular part start */
    .popular-tour-main-content {
        align-items: center;
        gap: 30px;
    }

    .popular-tour-content {
        width: 70%;
    }

    .section-title {
        font-size: 28px;
    }

    .popular-tour-content p,
    .popular-tour-content ul li {
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;
    }

    /* popular part End */

    /* Room section start */
    .hotel-room-container {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Room section End */




    /* newsletter section start */
    .news-letter-form {
        width: 45%;
        padding: 20px 50px;
    }

    .news-letter-image {
        width: 55%;
    }

    .news-letter-form h3 {
        padding-top: 10px;
    }

    .news-letter-form p {
        margin-bottom: 30px;
    }

    .label {
        width: 60%;
        padding: 10px;
        bottom: 43px;
        right: -2px;
    }

    .label h6,
    .label span {
        font-size: 1rem;
    }

    /* newsletter section End */
}

/* @media screen and (min-width: 1400px) {
    .banner {
        padding: 80px;
    }
    .banner-content,
    .travel-info-container
     {
        width: 100%;
    }
} */