@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Mulish', sans-serif;
}

/* Common css */
ul>li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

.container {
    width: 81%;
    margin: 0 auto;
}

:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
}

/* Header css Start */
.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.nav-logo img {
    width: 48px;
    height: 56px;
}

.logo {
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

nav>ul {
    display: flex;
    gap: 44px;
}

nav ul li a {
    font-size: 1.25rem;
    color: #424247;
    font-weight: 400;
}

.active-color {
    color: var(--primary-color);
}

.banner {
    margin-top: 60px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 138px 0px;
}

.banner-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.banner-content h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-content p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.travel-info-container {
    width: 60%;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.travel-info {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    padding: 16px;
}

.field {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border: none;
}

.field:focus {
    outline: 0;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}